#splash {
  text-align: center;
}

h1 {
  font-family: Droid Sans, sans-serif;
}

#nav {
  text-align: right;
  margin-right: 50px; margin-left: 50px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  text-align: center;
  border: 1px solid black;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  display: inline;
}

#footer {
  text-align: center;
}
