html {
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url("../images/splash.png");
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  padding: 0px;
  margin: 0px;
}


#splash {
  height: 100%;
  margin-top: 250px;
  text-align: center;
  margin-left: auto; margin-right: auto;
  line-height: 300%;
}

h1 {
  font-family: Open Sans, sans-serif;
  font-size: 120px;
  color: white;
  letter-spacing: 2px;
}

h2 {
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: 80px;
  letter-spacing: 2px;
}

i {
  color: white;
  margin-top: 50px;
}

p {
  font-family: Didact Gothic, serif;
  font-size: 24px;
  color: white;
}

#reel {
  padding: 0px;
  margin-left: auto; margin-right: auto;
  margin-top: 50px;
  width: 100px;
  height: 40px;
  border: 3px solid white;
  transition: 0.2s;
}

#reel > p {
  line-height: 40px;
  margin: 0px;
  vertical-align: middle;
  transition: 0.2s;
}

#reel:hover {
  background-color: white;
  transition: 0.2s;
  cursor: pointer;
}

#reel:hover > p {
  color: black;
  transition: 0.2s;
}

#nav {
  margin-top: 0px;
  top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  text-align: right;
  vertical-align: middle;
  width: 100%;
  background-color: black;
  margin-bottom: 0px;
}

li {
  font-family: Didact Gothic, sans-serif;
  margin: 0px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

li > a:hover {
  color: rgb(135, 50, 25);
  transition: 0.2s;
}

a {
  text-decoration: none;
  height: 100%;
  color: white;
  vertical-align: middle;
  transition: 0.2s;
}

a:visited {
  text-decoration: none;
  color: white;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  width: 200px;
  height: 200px;
  text-align: center;
  border: 1px solid black;
  padding: 20px;
  border-radius: 20%;
}

h3 {
  font-family: Molengo, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  display: inline;
}

#skills {
  background-color: white;
  padding-top: 10px; padding-bottom: 30px;
}

#footer {
  padding: 10px;
  text-align: center;
}

#footer > p {
  font-size: 14px;
}
